{% load static %}
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="{% url 'index' %}" class="simple-text logo-mini">
            BI
        </a>
        <a href="{% url 'index' %}" class="simple-text logo-normal">
            Berita Indonesia
        </a>
    </div>
    <div class="user">
        <div class="photo">
            <img src="{% static 'back/img/user.jpg' %}" />
        </div>
        <div class="info ">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                <span>
                    {{user}}
                    <b class="caret"></b>
                </span>
            </a>
            <div class="collapse" id="collapseExample">
                <ul class="nav">
                    <li>
                        <a class="profile-dropdown" href="{% url 'logout' %}">
                            <span class="sidebar-mini">L</span>
                            <span class="sidebar-normal">Logout</span>
                        </a>
                    </li>
                    
                    
                </ul>
            </div>
        </div>
    </div>
    <ul class="nav">
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'tabel_artikel' %}">
                <i class="nc-icon nc-paper-2"></i>
                <p>Tabel Berita Indonesia</p>
            </a>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'tabel_berita' %}">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>Tabel CNN</p>
                </a>
        </li>
        {% if request.session.is_operator == 'operator'  %}
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'tabel_users' %}">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>Tabel Pengguna</p>
                </a>
            </li>
        {% endif %}
    
    </ul>
</div>